@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
	background-color: #000;
	text-align: center;
	padding: 15px;
	margin-top: 30px;
	width: 100%;
}

.main {
	min-height: 88.5vh;
}

/* NAVBAR */
.navbar {
	display: flex;
	/* background: rgb(255, 255, 255); */
	border-bottom: 1px black solid;
	position: fixed;
	justify-content: space-between;
	height: 100px;
	z-index: 400;
	top: 0;
}

.navbar .btn {
	margin: 0 15px;
}

.logo {
	height: 70px;
	width: 70px !important;
	margin: 0 10px;
}

.navbar_left {
	display: flex;
}

.navbar_left a {
	width: 90px;
}

.navbar_right .form {
	display: flex;
	align-items: center;
}

#search {
	padding: 5px;
	font-size: 14px;
	border: 1.5px solid #a6adbb;
	background-color: white;
	color: black;
	border-radius: 9px;
	width: 300px;
}

/* END NAVBAR */


/* HOME PAGE */
.home_content {
	width: 90%;
	margin: auto;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 120px;
	margin-bottom: 70px;
}

.product-list {
	color: rgb(221, 218, 218);
	text-align: center;
	width: 352px;
	opacity: 90%;
}

.product-list .card {
	/* background-color: #f4f4f4; */
	margin: 15px;
	box-shadow: 0px 10px 5px #1a1818;
}

.card img {
	width: 100%;
	border-radius: 13px;
}

.image {
	height: 200px;
	width: 100%;
	overflow: hidden;
}

.card .title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

.card .text-list {
	margin-top: 1em;
	text-align: left;
	padding: 20px;
	font-size: 15px;
}


@media (prefers-reduced-motion: no-preference) {
	.home-logo {
		animation: home-logo-spin infinite 1.5s linear;
	}
}

@keyframes home-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.overlay::before {
	z-index: 500;
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.694);
}

.login {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 30px;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
	z-index: 999;
}

.login h1 {
	margin-bottom: 20px;
}

.login input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid #ccc;
	margin-bottom: 1rem;
}

.button-group button {
	margin: 10px;
}

/* .button-group {
	display: flex;
	justify-content: space-between;
} */

/* .button-group button {
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: none;
	background-color: #0070f3;
	color: white;
	cursor: pointer;
} */

/* .button-group button:hover {
	background-color: #0055b8;
} */



/* UNIT CONCERT USER */
.unit_concert_vignette {
	margin-top: 130px !important;
	width: 60%;
	margin: auto;
}

.card-title h2 {
	text-align: center;
}

.unit_concert_vignette img {
	width: 48%;
	height: auto;
}

.unit_concert_vignette button {
	justify-content: center;
}



/* MODAL BUY */
.buy_ticket {
	align-items: center;
	min-height: 100px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.nbr_tickets_buttons {
	justify-content: space-between;
	display: flex;
	width: 80px;
}

.modal-action {
	max-height: 100vh;
}


















































/* ADMIN */
#back_button {
	margin: 30px auto;
}

.admin_index {
	margin-top: 130px;
}

.admin_label_edit {
	display: flex;
	margin: 15px 0;
}

.admin_label_edit input {
	margin-left: 10px;
}

/* ADMIN INDEX */
.admin_infos {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px auto;
	min-width: 600px;
	max-width: 60%;
	min-height: 67.5vh;
}

.admin_infos .btn {
	width: 300px;
	margin: 3px;
}

.admin_infos h1 {
	margin: 20px 0;
}

/* ADMIN GENRES */
.admin_genres {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px auto;
	min-width: 800px;
	max-width: 90%;
}

.admin_genres h1 {
	margin: 30px auto;
}

/* ADMIN CONCERTS */
.admin_concertUnit {
	margin-top: 130px;
}

.admin_concert {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.table :where(th, td) {
	white-space: nowrap;
	padding: 0.5rem;
	vertical-align: middle;
}

.admin_concert :where(td) {
	min-width: 150px;
}

.admin_concert .table_line {
	display: flex;
	align-items: center;
}

.admin_concert .btn {
	margin: 20px 5px;
}

/* CRUD CONCERT */
.admin_crud_concert {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 130px;
	flex-direction: column;
	align-items: center;
}

.admin_crud_concert button {
	margin: 20px auto;
}

.admin_crud_concert input {
	margin: 5px auto;
}

.admin_crud_concert label {
	margin: 20px auto;
	width: 200px;
}

.rdtPicker {
	display: none;
	position: absolute;
	min-width: 250px;
	padding: 4px;
	margin-top: 1px;
	z-index: 99999 !important;
	background: #000000d4 !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	border: 1px solid #f9f9f9;
}

.rdt input {
	background-color: none !important;
}

/* CRUD CATEGORIES */
.admin_crud_category {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 130px;
	flex-direction: column;
	align-items: center;
}

.admin_crud_category label {
	margin: 20px auto;
	width: 200px;
}

/* ADMIN USERS */
.admin_page {
	margin-top: 120px;
}

.admin_users {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin_users button {
	margin: 5px;
}

.admin_users h1 {
	margin: 20px auto;
}

/*.admin_infos a {
	text-decoration: none;
	color: black;
	margin: 5px;
}
.admin_infos table {
	margin: 10px auto;
}
.admin_infos h1 {
	margin-bottom: 30px;
}
.admin_infos h3 {
	text-align: center;
}
.admin_infos th {
	border-radius: 30px;
	width: 300px;
	height: 40px;
	vertical-align: middle;
	transition: 0.2s;
}
.admin_infos th:hover {
	color: white;
	background-color: black;
	transition: 0.2s;
}
.admin_infos tr {
	display: flex;
    flex-direction: column;
} */

/* ADMIN CONCERTS */
/* .admin_concert {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 70.2vh;
}
.admin_concert h1 {
	margin-bottom: 30px;
	text-align: center;
}
.admin_concert table {
	text-align: center;
	margin: 10px auto;
	width: 80%;
	border: 1px black solid;
}
.admin_concert table tbody {
    align-items: center;
    border: 3px white solid;
    background-color: #9dbbbc1a;
}
.admin_concert tbody td, th {
	text-overflow: ellipsis;
	overflow: hidden;
	min-width: 100px;
	max-width: 150px;
} */
/* .admin_concert a {
	text-decoration: none;
	color: rgb(145, 90, 90);
} */


/* ADMIN CRUD */
.toggle {
	display: flex;
}

.admin_crud {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	text-align: center;
}

.admin_crud input,
select {
	margin: 5px 30px;
	height: 30px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 5px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.edit-popup-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.edit-popup {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}






































































































































































































































































































































































































































































































































.badge {
	margin: 0 10px;
}


.profile_user {
	display: flex;
	margin-top: 130px;
	margin: auto;
	justify-content: center;
	margin-top: 130px;
}

.profile_user_comp {
	margin-right: 10px;
}

.ticketuser {
	display: flex;
	margin: 10px;
}

.ticketuser .card {
	flex-direction: row;
	color: black;
	background-color: aliceblue;
	width: 100%;
}

.Ticketlistuser {
	width: 60%;
	text-align: center;
}

.ticketInfo {
	width: 100%;
	margin: 10px;
}

.ticketTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.ticketLocation {
	text-align: right;
}

.profiltitle {
	margin-bottom: 10px;
}

.usernameticket {
	text-align: left;
	margin-top: 10px;
}

.profileside {
	margin-left: 10px;
}

.contentprofil {
	text-align: center;
}

.userprofileinfo {
	text-align: left;
	margin-bottom: 10px;
}

.unitconcertuser {
	display: flex;
}

.unitconcertinfo {
	text-align: center;
	width: 100%;
}

.unitconcertdetail {
	margin-top: 20px;
}










/* SIGN UP START */
.AppHeader {
	margin-top: 130px;
}

/* SIGNUP END */